<div class="container">
  <h3>Submit a file to view its filesize.</h3>
  <form method="post" action="/get-file-size" enctype="multipart/form-data" class="form-inline">
    <input type="file" value="Choose File" name="upl"><br>
    <input type="submit" value="Submit Query">
  </form>
</div>
